@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Solway:wght@300;500;700&display=swap');

body {
    background:linear-gradient(to right, rgba(64, 64, 64, 1), rgba(20, 20, 20, 1));
    width: 90%;
    overflow-x: hidden;
    margin: 0 auto;
}


#titlesection {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    height: 100px;
}


/* --------------------First title flexbox ----------------------*/

#titleboxone {
    flex-shrink: 0;
    display: flex;
    flex-basis: 40%;
    flex-direction: row;
    align-content: flex-end;
}

#titlename {
    flex-basis: 100%;
    font-family: Oswald, serif;
    font-weight: bold;
    font-size: 30px;
    color: #DC582A;
    transform: skewX(-10deg);
    text-transform: uppercase;
    align-self: center;
    text-align: center;
}

#orlhead {
    background: url(images/header-two.jpg);
    background-size: contain;
    height: 35px;
    width: 35px;
    display: inline-block;
    border-radius: 50%;
}



/* ---------------------- Second title flex box ---------------------*/

#headerlinks {
    flex-basis: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.flexlink {
    display: inline-block;
    padding: 0 5px;
    font-family: Lato, sans-serif;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding-left: 10px;
    font-size: 18px;
}

.topi {
    font-size: 35px;
    color: #DC582A;
    margin-left: 10px;
}

.flexlink:hover {
    color: #DC582A;
    transition: .5s;
    border-top: none;
}




/* -----------------Footer ---------------------- */


.social-footer {
    height: 40px;
    display: flex;
    flex-direction: row;
    width: 90%;
    color: orange;
    font-family: Oswald, sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    position: fixed;
    bottom: 0;
    font-size: 10px;
    background-color: #464646;
}

.social-footer i {
    font-size: 25px;
    color: #DC582A;
}

#links>a,
i {
    padding: 1px;
    margin: 0px;
}


#links {
    flex: 0 0 50%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    align-self: center;
}

#rights {
    flex: 0 0 49%;
    text-align: right;
    align-self: center;
}




/*--------------------------------------------FORM----------------------------------------------- */


#request {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    height: 750px;
    background: url('images/background-form.webp') no-repeat;
    background-size: 100% 100%;
    justify-content: left;
    width: 100%;
}

/* Form title description Please fill in the below...etc */
.boldie {
    color: #DC582A;
    font-weight: 600;
    font-family: Lato, sans-serif;
}


#form {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 700px;
    justify-content: center;
    padding-left: 150px;
}

form {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), #222);

}


label {
    letter-spacing: 1px;
    width: 150px;
    display: inline-block;
    font-size: 18px;
    text-align: right;
    margin-right: 1em;
    font-weight: 300;
    font-family: Lato, sans-serif;
}

#lastone {
    display: none;
}

.email {
    width: 420px;
}

input {
    height: 30px;
    width: 200px;
    margin-top: 20px;
    display: inline-block;
    outline: 2px solid #fff;
}

input::placeholder {
    color: #DC582A;
    text-align: center;
    font-weight: 400;
    font-family: Oswald, sans-serif;
}

textarea::placeholder {
    color: #DC582A;
    text-align: center;
    font-weight: 400;
    font-family: Oswald, sans-serif;
}

#txtarea {
    margin-top: 35px;
    outline: 2px solid #fff;
}

#submit {
    width: 170px;
    height: 40px;
    margin: 20px;
    color: #fff;
    padding-bottom: 10px;
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #222, #464646);
    margin-left: 280px;
    outline: 2px solid #fff;

}

#submit:hover {
    color: #DC582A;
    transition: .5s;
}

/* ---------------------------------------Media Queries ---------------------------------------*/

/* -----------------------------------------------------Small phones ----------------------------------------------*/

@media screen and (min-width:300px) and (max-width:360px) {

    body {
        width: 100%;
        overflow: none;
    }
/*---------------------------------------Header responsive -------------------------------------------*/
    #titlesection {
        flex-direction: column;
        width: 100%;
        height: auto;
        flex-basis: 100%;
    }

    #titlename {
        font-size: 20px;
        flex-basis: 100%;
        align-self: center;
    }

    #headerlinks {
        font-size: 10px;
        flex-basis: 100%;
    }

    .flexlink {
        font-size: 10px;
        padding-top: 5px;
        display: inline-block;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }

    .fa-solid {
        font-size: 10px;
        margin-top: 5px;
        margin-left: 0;
    }

/* ----------------------------------------Form ------------------------------------*/

#request {
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;
    max-height: 100%;
    background: url('images/background-form.webp') no-repeat;
    background-size: cover;
    width: 100%;
}


#form {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
    color: #fff;
    padding: 0px;
    width: 100%;
    height: 400px;
    justify-content: flex-start; 
    margin-top: 20px;
}

.boldie {
    color: #DC582A;
    font-weight: 600;
    font-family: Lato, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}


label {
    letter-spacing: 1px;
    width: 200px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    font-family: Lato, sans-serif;
    padding-top: 5px;
    margin-right: 0px;
}

input {
    width: 200px;
    margin-top: 5px;

}

#lastone {
    display: inline-block;
}

.email {
    width: 200px;
}

#txtarea {
    width: 200px;
    margin-top: 5px;
}

#submit {
    width: 100px;
    height: 40px;
    color: #fff;
    padding-bottom: 5px;
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #222, #464646);
    outline: 2px solid #fff;
    margin-left: 0;
}



/* -----------------------------Fixed footer -----------------------*/
    #links {
        flex: 0 0 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
    }

    .social-footer {
        width: 99%;
        padding-bottom: 1px;
    }

    #rights {
        flex: 0 0 49%;
        text-align: right;
        align-self: center;
        font-size: 8px;
    }


}

/*---------------------------------------------------------------Large Phones + Tablet ------------------------------------------------*/



@media screen and (min-width:460px) and (max-width:900px) {
    form {
        width: 400px;
        align-self: center;
    }
}


@media screen and (min-width:360px) and (max-width:900px) {


/* ------------------------------------------------------Header responsive ----------------------------------------------*/

    body {
        width: 95%;
        min-height: 450px;
        max-height: 900px;
    }

    #titlesection {
        flex-direction: column;
        width: 100%;
        height: auto;
        flex-basis: 100%;
    }

    #titleboxone {
        flex-basis: 40%;
    }

    #titlename {
        font-size: 34px;
        flex-basis: 100%;
        align-self: center;
    }

    #headerlinks {
        font-size: 12px;
        flex-basis: 100%;
    }

    .flexlink {
        font-size: 11px;
        padding-top: 5px;
        display: inline-block;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }

    .fa-solid {
        font-size: 20px;
        margin-top: 5px;
        margin-left: 0;
    }

    #titlestatus {
        align-self: center;
        justify-content: center;
    }



    /* ---------- Footer responsive------------*/

    #links {
        flex: 0 0 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
    }

    #links>a,
    i {
        padding-left: 0;
        margin: 0;
    }

    .social-footer {
        width: 95%;
    }

    #rights {
        flex: 0 0 49%;
        text-align: right;
        align-self: center;
        font-size: 8px;
    }

    /*------------ Form responsive elements----------- */


    #request {
        display: flex;
        flex: 0 1 100%;
        flex-direction: column;
        max-height: 100%;
        background: url('images/background-form.webp') no-repeat;
        background-size: cover;
        width: 100%;
    }


    #form {
        flex-basis: 100%;
        flex-grow: 0;
        flex-shrink: 1;
        text-align: center;
        color: #fff;
        padding: 0px;
        width: 100%;
        height: 400px;
        justify-content: flex-start; 
        margin-top: 20px;
    }

    .boldie {
        color: #DC582A;
        font-weight: 600;
        font-family: Lato, sans-serif;
        font-size: 20px;
        text-transform: uppercase;
    }


    label {
        letter-spacing: 1px;
        width: 200px;
        display: inline-block;
        font-size: 18px;
        text-align: center;
        font-weight: 300;
        font-family: Lato, sans-serif;
        padding-top: 5px;
        margin-right: 0px;
    }

    input {
        width: 200px;
        margin-top: 5px;

    }

    #lastone {
        display: inline-block;
    }

    .email {
        width: 200px;
    }

    #txtarea {
        width: 200px;
        margin-top: 5px;
    }

    #submit {
        width: 100px;
        height: 40px;
        color: #fff;
        padding-bottom: 5px;
        font-family: Oswald, sans-serif;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #222, #464646);
        outline: 2px solid #fff;
        margin-left: 0;
    }


}